.display {
  width: 233px;
  height: 80px;
  background-color: darkgray;
  border-radius: 9px 9px 0px 0px;
}

.display_content {
  padding-right: 7%;
  padding-top: 9%;
  font-size: 55px;
  color: white;
  text-align: right;
  font-weight: 100;
}